.content .right{
	margin-top: 37px;
}
.content{
	width: 1024px;
	margin: 0 auto;
}
.content .left{
	display:inline-block;
	width:70%;
}
.content .right{
	float:right;
	width:29%;
}
.applyLoan{
	width: 100%;
	float: none;
}
.briefintro .intro{
	border: 1px solid #dadada;
	padding: 20px 20px 10px;
} 
.briefintro .intro li{
	display: none;
	color: #666;
}
.briefintro .intro li:nth-child(1){
	display: block;
}
.briefintro .intro label{
	vertical-align: top;
	color: #616161;
	font-size: 18px;
	display: inline-block;
	margin-top: 2px;
}
.briefintro .intro li p strong:before{
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 4px 0 0;
	vertical-align: -5px;
}
.briefintro .intro li:nth-child(1) p:nth-child(1) strong:before,
.briefintro .intro li:nth-child(2) p:nth-child(1) strong:before,
.briefintro .intro li:nth-child(3) p:nth-child(1) strong:before,
.briefintro .intro li:nth-child(4) p:nth-child(1) strong:before
{
	background: url(../images/spirite_invest.png) 0 -46px no-repeat;
}
.briefintro .intro li:nth-child(1) p:nth-child(2) strong:before,
.briefintro .intro li:nth-child(2) p:nth-child(2) strong:before,
.briefintro .intro li:nth-child(3) p:nth-child(2) strong:before,
.briefintro .intro li:nth-child(4) p:nth-child(2) strong:before
{
	background: url(../images/spirite_invest.png) 0 -70px no-repeat;
}
.briefintro .intro li:nth-child(1) p:nth-child(3) strong:before,
.briefintro .intro li:nth-child(2) p:nth-child(3) strong:before,
.briefintro .intro li:nth-child(3) p:nth-child(3) strong:before,
.briefintro .intro li:nth-child(4) p:nth-child(3) strong:before
{
	background: url(../images/spirite_invest.png) 0 -94px no-repeat;
}

.briefintro .intro strong{
	color: #666;
	margin: 0 10px 0 0;
}
.briefintro .intro p{
	margin-bottom: 10px;
	font-size: 15px;
}
.briefintro .intro div{
	display: inline-block;
}
.briefintro .title li{
	display: inline-block;
	width: 120px;
	height: 36px;
	color: #666;
	font-size: 18px;
	text-align: center;
	line-height: 36px;
	border: 1px solid #dadada;
	border-bottom: none;
	margin-right: 10px;
}
.briefintro .title li.active{
	color: #fff;
	background-color: #c92323;
}
.briefintro .title li:hover{
	cursor: pointer;
}

.condition{
	font-size:15px;
	color:#666;
	padding:20px;
	border: 1px solid #dadada;
	border-top: 0;
}
.condition label{
	margin-right:20px;
}
.condition li~li{
	margin-top:17px;
}
.condition a{
	display:inline-block;
	margin-right:20px;
	color:#2b2b2b;
}
.condition a.choose,.condition a:hover{
	color:#c92323
}

.prducts{
	border: 1px solid #dadada;
	margin-top: 10px;
}
.sort{
	margin: 10px 0 10px 20px;
}
.sort label{
	color: #7b7b7b;
	font-size: 15px;
	margin-right: 10px;
}
.sort a{
	display: inline-block;
	width: 100px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border: 1px solid #dadada;
	font-size: 15px;
	color: #666;
}
.sort a~a{
	border-left:0;
}
.sort a.sorted,.sort a.sorted span{
	color: #c92323
}
.sort a.sorted{
	background-color: #eee;
}
.sortprducts>li{
	padding: 20px;
	border: 1px solid transparent;
	border-bottom: 1px solid #dadada;
}
.sortprducts>li:hover{
	border: 1px solid #fcc789;
}
.sortprducts>li:hover a{
	background-color: #c92323;
}
.sortprducts .introduce,.sortprducts .contect{
	display: inline-block;
	vertical-align: top;
}
.sortprducts img{
	width: 125px;
	height: 127px;
	margin-right: 10px;
}
.sortprducts .introduce{
	width: 57%;
	margin-right: 10px;
	color: #666;
}
.sortprducts .contect{
	width: 20%;
}
.sortprducts .introduce h1{
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	margin-bottom: 12px;
}
.sortprducts .introduce li{
	font-size: 15px;
	margin-bottom: 10px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.sortprducts .introduce li:nth-of-type(odd){
	width: 70%;
}
.sortprducts .introduce li:nth-of-type(5),.sortprducts .introduce li:nth-of-type(6){
	width: 100%;
}

.sortprducts .contect{
	font-size: 17px;
	color: #c92323;
}
.sortprducts .contect *{
	display: block;
	margin-bottom: 10px;
	font-weight: normal;
}
.sortprducts .contect strong:before{
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: -6px;
}
.sortprducts .contect strong:nth-child(1):before{
	background: url(../images/spirite_invest.png) 0 0px no-repeat;
}
.sortprducts .contect strong:nth-child(2):before{
	background: url(../images/spirite_invest.png) 0 -24px no-repeat;
}
.sortprducts .contect a{
	width: 136px;
	height: 34px;
	line-height: 34px;
	background-color: #f79393;
	color: #fff;
	text-align: center;
	font-size: 15px;
	border-radius: 6px;
	margin-top: 30px;
}

.aboutproduct{
	border: 1px solid #dadada;
	margin-top: 10px;
}
.aboutproduct h2 {
	padding: 10px;
}
.aboutproduct h2 span {
	padding-left: 6px;
	color: #2d2d2d;
	border-left: 3px solid #c92323;
	font-size: 17px;
	font-weight: normal;
}
.aboutpro>li{
	padding: 20px 10px;
}
.aboutpro>li~li{
	border-top: 1px dashed #dadada;
}
.aboutpro img{
	width: 62px;
	height: 42px;
	margin-right: 20px;
}
.aboutpro h5{
	display: inline-block;
	color: #666;
	font-size: 14px;
	vertical-align: top;
	margin-top: 4px;
}
.aboutpro h5 span{
	display: block;
	color: #fd8900;
	font-size: 13px;
	margin-top: 4px;
	font-weight: normal;
}
.aboutpro li ul li{
	margin-bottom: 6px;
}
.aboutpro li ul li:nth-child(2),.aboutpro li ul li:nth-child(3),.aboutpro li ul li:nth-child(4){
	display: inline-block;
	color: #999;
	font-size: 14px;
}
.aboutpro li ul li:nth-child(2),.aboutpro li ul li:nth-child(4){
	margin-right: 25px;
}
.aboutpro a{
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 84px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	background-color: #c83b3b;
	border-radius: 4px;
}
.aboutpro a:hover{
	background-color: #c92323;
}