body{
	background-color: #f8f8f8;
}
.content{
	width: 1024px;
	margin: 0 auto;
}
.content li h1,.content li .slider{
	display: inline-block;
	vertical-align: top;
}
.content li h1{
	width: 20%;
	margin-left: 20px;
}
.content li .slider{
	width: 73%;
	position: relative;
	float: right;
}
.content .slider img{
	width: 159px;
	height: 117px;
	border: 1px solid #ddd;
}
.content .slider span{
	display: block;
	font-size: 15px;
	color: #000;
	font-weight: normal;
	text-indent: 20px;
	line-height: 30px;
}
.content .slider a:hover span{
	text-decoration: underline;
}
.content .flex-control-nav{
	bottom: -24px;
}
.content .slider .flex-direction-nav a{
	opacity: 1;
}
.content .slider .flex-direction-nav a:before{
	opacity: 1;
	color: #222;
	font-size: 20px;
}
.content .slider .flex-prev{
	top: auto;
	bottom: -45px;
	left: 40%;
}
.content .slider .flex-next{
	top: auto;
	bottom: -45px;
	right: 40%;
}
.content h1>span{
	display: block;
	font-size: 30px;
	font-weight: normal;
}
.content>ul>li{
	padding: 55px 0;
	background-color: #fff;
}
.content>ul>li:nth-child(1) h1 span,
.content>ul>li:nth-child(1) .descrip label{
	color: #77ceff;
}
.content>ul>li:nth-child(1) .flex-control-paging li a.flex-active,
.content>ul>li:nth-child(1) .descrip label:before{
	background: #77ceff;
}
.content>ul>li:nth-child(1) .descrip a:hover label:before{
	background: #62a9d1;
}

.content>ul>li:nth-child(2) h1 span,
.content>ul>li:nth-child(2) .descrip label{
	color: #f04f23;
}
.content>ul>li:nth-child(2) .flex-control-paging li a.flex-active,
.content>ul>li:nth-child(2) .descrip label:before{
	background: #f04f23;
}
.content>ul>li:nth-child(2) .descrip a:hover label:before{
	background: #c5411d;
}

.content>ul>li:nth-child(3) h1 span,
.content>ul>li:nth-child(3) .descrip label{
	color: #219bac;
}
.content>ul>li:nth-child(3) .flex-control-paging li a.flex-active,
.content>ul>li:nth-child(3) .descrip label:before{
	background: #219bac;
}
.content>ul>li:nth-child(3) .descrip a:hover label:before{
	background: #1b7f8d;
}

.content>ul>li:nth-child(4) h1 span,
.content>ul>li:nth-child(4) .descrip label{
	color: #55ac45;
}
.content>ul>li:nth-child(4) .flex-control-paging li a.flex-active,
.content>ul>li:nth-child(4) .descrip label:before{
	background: #55ac45;
}
.content>ul>li:nth-child(4) .descrip a:hover label:before{
	background: #48923b;
}

.descrip a:hover span{
	color: #000
}
.content>ul>li:nth-child(1) .descrip a:hover label{
	color: #62a9d1;
}
.content>ul>li:nth-child(2) .descrip a:hover label{
	color: #c5411d;
}
.content>ul>li:nth-child(3) .descrip a:hover label{
	color: #1b7f8d;
}
.content>ul>li:nth-child(4) .descrip a:hover label{
	color: #48923b;
}

.content h1 .circle{
	width: 100px;
	height: 100px;
	margin: 40px 0 0 10px;
	position: relative;
}
.content h1 img{
	position: absolute;
	z-index: 99;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.content>ul>li:nth-child(1) h1 img{
	width: 66px;
	height: 41px;
}
.bg{
	width: 100px;
	height: 100px;
	-moz-transition:all .3s linear;
	-o-transition:all .3s linear;
	-webkit-transition:all .3s linear;
	transition:all .3s linear;
}
.content>ul>li:hover .bg{
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.content>ul>li:nth-child(1) .bg{
	background: url(../images/bg1.png) center center no-repeat;
}
.content>ul>li:nth-child(2) .bg{
	background: url(../images/bg2.png) center center no-repeat;
}
.content>ul>li:nth-child(3) .bg{
	background: url(../images/bg3.png) center center no-repeat;
}
.content>ul>li:nth-child(4) .bg{
	background: url(../images/bg4.png) center center no-repeat;
}
.descrip{
	margin-top: 20px;
}
.descrip li{
	border-bottom: 1px dashed #d0d0d0;
	padding: 12px 0;
}
.descrip label{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	width: 20%;
	margin-left: 25px;
	float: left;
}
.descrip label:before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	margin-right: 20px;
	vertical-align: -1px;
}
.descrip span{
	font-size: 15px;
	color: #7b7b7b;
	padding-left: 27%;
	display: block;
	line-height: 22px;
}