.mypublish{
	border: 1px solid #d0d0d0;
	margin-top: 10px;
	color: #666;
}
.mypublish ul{
	font-size: 0;
}
.mypublish ul li{
	font-size: 14px;
}
.mypublish .nav{
	border-bottom: 1px solid #d0d0d0;
	height: 36px;
	background-color: #fff;
}
.mypublish .nav li{
	display: inline-block;
}
.mypublish .nav a{
	font-size: 16px;
	line-height: 36px;
	border-right: 1px solid #d0d0d0;
	padding: 0 20px;
	position: relative;
	color: #868686;
}
.mypublish .nav a:hover{
	color: #000;
}
.mypublish .nav a.active{
	color: #000;
}
.mypublish .nav a.active span{
	opacity: 1;
}
.mypublish .nav a span{
	display: inline-block;
	width: 100%;
	height: 3px;
	background-color: #408fb8;
	position: absolute;
	bottom: -12px;
	left: 0;
	opacity: 0;
}
.mypublish .content>li{
	display: none;
}
.mypublish .content>li.active{
	display: block;
}
.mypublish .content div[class*="_thead"]{
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	font-size: 15px;
	background-color: #f5f5f5;
	margin-top: 14px;
}
.mypublish .content div[class*="_thead"] span{
	display: inline-block;
	width: 16.66%;
	text-align: center;
	line-height: 36px;
}
.mypublish .content .published_order{
	height: 32px;
	line-height: 32px;
	background-color: #f5f5f5;
	padding-left: 20px;
}
.mypublish .content>li>ul>li{
	font-size: 14px;
	margin-top: 14px;
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
}
.mypublish .content .published_order span{
	color: #000;
	margin-right: 10px;
}
.mypublish .content .published_order a{
	color: #408fb8;
	text-decoration: underline;
}
.mypublish .content .published_detail{
	background-color: #fff;
	color: #000;
	padding: 20px 0;
}
.mypublish .content .published_detail li{
	display: inline-block;
	width: 16.66%;
	text-align: center;
	vertical-align: middle;
}
.mypublish .content .complete{
	color: #ba1b20;
}
.mypublish .content .published_detail li:nth-child(2) span{
	display: block;
	text-align: left;
	text-indent: 2.7em;
	margin-bottom: 4px;
}
.mypublish .content .published_detail li a{
	color: #408fb8;
	padding: 0 8px;
	line-height: 14px;
}
.mypublish .content .published_detail li a:nth-child(2){
	border-left:1px solid #d0d0d0;
}
.mypublish .content .published_detail li a:hover{
	text-decoration: underline;
}
.mypublish .content div[class="negotiate_thead"] span{
	width: 14%;
}
.mypublish .content .negotiate_thead span:nth-child(5){
	width: 30%;
}

.negotiate_order{
	padding:0 20px;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	background-color: #f5f5f5;
}
.negotiate_order a{
	float: right;
	color: #27749c;
	font-weight: normal;
	font-size: 13px;
	margin-right: 10px;
}
.negotiate_order a:hover{
	text-decoration: underline;
}
.negotiate_detail{
	padding: 20px 0;
}
.negotiate_detail img{
	width: 86px;
	height: 86px;
	border: 1px solid #d0d0d0;
	float: left;
	margin: 0 10px 0 20px;
}
.negotiate_detail li{
	display: inline-block;
	width: 14%;
	text-align: center;
	color: #3e3e3e;
	vertical-align: top;
}
.negotiate_detail li:nth-child(5){
	width: 30%;
	text-align: left;
}
.negotiate_detail li:nth-child(5) span{
	display: block;
	padding-left: 124px;
}
.negotiate_detail .checkdetail{
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	padding: 5px 8px;
	font-size: 12px;
	background: -o-linear-gradient(#fff,#ddd);
	background: -moz-linear-gradient(#fff,#ddd);
	background: -webkit-linear-gradient(#fff,#ddd);
}
.negotiate_detail .checkdetail:hover{
	background: -o-linear-gradient(#ddd,#fff);
	background: -moz-linear-gradient(#ddd,#fff);
	background: -webkit-linear-gradient(#ddd,#fff);
}
.negotiate_detail .loantype{
	display: block;
	color: #408fb8;
	margin-bottom: 10px;
	text-align: left;
	text-indent: 20px;
}

.negotiate_detail li:last-child a{
	display: block;
	margin: 0 auto 4px;
	padding-bottom: 10px;
	width: 80px;
	color: #408fb8;
}
.negotiate_detail li:last-child a:hover{
	text-decoration: underline;
}

.shensu{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	display: none;
}
.shensu>form{
	position: absolute;
	width: 663px;
	height: 508px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 6px #000;
	color: #333;
}
.shensu h1{
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	box-shadow: 0 1px 10px #979797;
}
.shensu form ul{
	padding: 56px 56px 30px;
}
.shensu form label{
	vertical-align: top;
	font-size: 18px;
	position: relative;
	display: inline-block;
	width: 130px;
}
.shensu form label[for="reason"]:before{
	content: "*";
	position: absolute;
	color: red;
	left: -10px;
	top: 4px;
}
.shensu form textarea{
	width: 410px;
	height: 136px;
	border:1px solid #d0d0d0;
}
.shensu form .prof{
	display: inline-block;
}
.shensu form .prof .tip{
	display: inline-block;
	width: 290px;
}
.shensu form .prof .tip span{
	color: #ccc;
	font-size: 12px;
}
.shensu form .prof .tip span:before{
	content: "?";
	display: inline-block;
	margin-right: 2px;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #fff;
	background-color: #ff9c9f;
	border-radius: 100%;
}
.shensu form .prof .tip div{
	border: 1px solid #d0d0d0;
	font-size: 12px;
	position: relative;
	margin-top: 15px;
	padding: 10px 0 10px 20px;
	line-height: 18px;
}
.shensu form .prof .tip div:before{
	content: "";
	display: inline-block;
	position: absolute;
	top: -18px;
	left: 18px;
	z-index: 9;
	width: 0;
	height: 0;
	border: 9px solid #d0d0d0;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.shensu form .prof .tip div:after{
	content: "";
	display: inline-block;
	position: absolute;
	top: -14px;
	left: 20px;
	z-index: 99;
	width: 0;
	height: 0;
	border: 7px solid #fff;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.shensu form li{
	margin-bottom: 20px;
}
.shensu form input[type='submit']{
	width: 134px;
	height: 48px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border-radius: 6px;
	background-color: #ba1b20;
	margin-right: 20px;
	cursor: pointer;
}
.shensu form input[type='reset']{
	display: none;
}
.shensu form input[type='submit']:hover{
	background-color: #b82b30;
}
.shensu form .close{
	display: inline-block;
	width: 134px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	color: #666;
	background-color: #d5d5d5;
	vertical-align: top;
	border-radius: 6px;
}
.shensu form .Validform_checktip{
	display: block;
	margin-left: 132px;
}
.shensu form .close:hover{
	background-color: #dedede;
}
.imgholder{
	width: 98px;
	height: 98px;
	border:1px solid #d0d0d0;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.imgholder div{
	width: 58px;
	height: 58px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
	z-index: -9px;
	font-size: 50px;
	color: #c8c8c8;
	border:4px dashed #c8c8c8;
	border-radius: 6px;
}
.ke-inline-block{
	position: absolute;
	z-index: 99999;
}
.ke-button-common{
	background: none;
	width: auto;
	height: auto;
}
.ke-upload-area {
	width: 98px !important;
	height: 98px;
	opacity: 0;
}

.complaint{
	width: 1024px;
	margin: 0 auto;
	color: #3e3e3e;
	font-size: 15px;
}
.complaint>div{
	margin-top: 40px
}
.complaint .record h1{
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
}
.complaint .record ul{
	padding-left: 20px;
	
}
.complaint .record li{
	margin-bottom: 10px;
}
.complaint .record label{
	display: inline-block;
	width: 80px;
	vertical-align: top;
	margin-top: 2px;
}
.complaint .record p{
	display: inline-block;
	width: 90%;
	line-height: 20px;
}
.complaint .message h2{
	text-indent: 20px;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 20px;
	height: 45px;
	line-height: 45px;
	background-color: #ec565b;
	color: #fff;
	margin-bottom: 20px;
}
.complaint .message li>img{
	width: 98px;
	height: 98px;
	border: 1px solid #d0d0d0;
	float: left;
	margin-right: 20px;
}
.complaint .message li>div{
	display: inline-block;
	width: 88%;
}
.complaint .message li p{
	margin-bottom: 10px;
	line-height: 20px;
}
.complaint .message li{
	margin-bottom: 20px;
}
.complaint .message .time{
	float: right;
}